<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddtsdk.mylibrary">

    <!--  SDK所需要的权限  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--  广点通GDT-SDK所需要的权限  -->
    <!--    <uses-permission android:name="android.permission.INTERNET" /> &lt;!&ndash; 允许联网 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> &lt;!&ndash; 检测联网方式，区分设备当前网络是2G、3G、4G还是WiFi &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> &lt;!&ndash; 获取MAC地址，和设备标识一起作为用户标识 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> &lt;!&ndash; 获取设备标识，标识用户 &ndash;&gt;-->

    <!--  安全移动联盟MSA-SDK所需要的权限  -->
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--    <uses-permission android:name="android.permission.INTERNET" />-->

    <application>
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--        <activity-->
        <!--            android:name="com.ddtsdk.ui.activity.MHPerActivity"-->
        <!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--            android:screenOrientation="landscape"-->
        <!--            android:theme="@style/kl_Transparent">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--            &lt;!&ndash;{your mainActvity Path}修改为你自己工程的MainActivity路径&ndash;&gt;-->
        <!--            &lt;!&ndash;{you need permission}修改为你自己工程所需要的权限(只能选一条权限)，如果不需要，-->
        <!--            请将{you need permission}修改为空字符&ndash;&gt;-->
        <!--            &lt;!&ndash;注: sdk固定的权限有WRITE_EXTERNAL_STORAGE和READ_PHONE_STATE，如果已满足你的需求-->
        <!--                 请将{you need permission}修改为空字符&ndash;&gt;-->
        <!--            <meta-data-->
        <!--                android:name="mainAct"-->
        <!--                android:value="com.ddt.sdkdemo.MainActivity" />-->
        <!--            <meta-data-->
        <!--                android:name="thirdPer"-->
        <!--                android:value="" />-->

        <!--        </activity>-->

        <activity
            android:name="com.ddtsdk.ui.activity.KLLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <activity
            android:name="com.ddtsdk.ui.activity.KLFirstLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLFirstQuickLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <activity
            android:name="com.ddtsdk.ui.activity.KLPaymentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <activity
            android:name="com.ddtsdk.ui.activity.KLpayWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <activity
            android:name="com.ddtsdk.ui.activity.KLUserInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <activity
            android:name="com.ddtsdk.ui.activity.KLForgetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <activity
            android:name="com.ddtsdk.ui.activity.RealNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLVisitorRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLBindPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLQuickLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLTipActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLServiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.platform.PlatformWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLPlatformPayWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <activity
            android:name="com.ddtsdk.ui.activity.KLPlatformPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLSmallGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <activity
            android:name="com.ddtsdk.ui.activity.MksCommonWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />


        <!--闪屏     需要闪屏,设置启动-->
        <!--        <activity-->
        <!--            android:name="com.ddtsdk.ui.activity.KlSplashActivity"-->
        <!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--            android:screenOrientation="landscape"-->
        <!--            android:theme="@style/kl_Transparent">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <activity
            android:name="com.cmic.sso.wy.activity.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLPokerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.ddtsdk.ui.activity.KLPlatFormBuyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent"  />

        <!--电信联通登录类名-->
        <activity
            android:name="com.netease.nis.quicklogin.ui.YDQuickLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />

        <activity
            android:name="com.netease.nis.quicklogin.ui.ProtocolDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/kl_Transparent" />
        <!--电信联通登录类名-->

        <service android:name="com.ddtsdk.heartbeat.KLHeartbeatService" />
        <service android:name="com.ddtsdk.push.PushService" />
        <!-- 开机启动监听 -->
        <receiver android:name="com.ddtsdk.push.BootReceive">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>


    </application>
</manifest>
